<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Affectation d'une note</h3>
    </div>

    <md-card>
        <md-card-content>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Étudiant</div>
                    <div class="col-md-9 justify">
                        <select id="idEleveNote">
                            <option value=""></option>
                            <option value="">Reynard Jérémy</option>
                            <option value="">Taïsse Sonia</option>
                            <option value="">Sempé Jean-Baptiste</option>
                            <option value="">Roger Jean-Baptiste</option>
                        </select>
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Module</div>
                    <div class="col-md-9 justify">
                        <select id="addMatiere" name="addMatiere">
                            <option value=""></option>
                            <option value="">Gouvernance du S.I</option>
                            <option value="">Gestion de projet agile</option>
                            <option value="">Gestion des Risques</option>
                        </select>
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Note</div>
                    <div class="col-md-9 justify">
                        <input type="number" id="" idEleve="idEleve" value="" min="0" max="">
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
    <input id="validation" type="button" value="Valider" class="btn btn-success">
</div>
<div style="clear: both"></div>
</div>