<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Affecter un module à un étudiant</h3>
    </div>

    <md-card flex="100">
        <md-card-content>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">&Eacute;tudiant : </div>
                    <div class="col-md-9 justify">
                        <select id="eleve">
                            <option value=""></option>
                       <!-- <?php
                                $eleves = Eleve::getAllActif();
                                foreach ($eleves as $eleve){
                                    echo "<option value='".$eleve->getIdEleve()."'>".$eleve->getLibelleUtilisatur().'</option>';
                        }
                        ?>-->
                        </select>
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Classe : </div>
                    <div class="col-md-9 justify">
                        <select id="selectNiveau">
                            <option value=''></option>
                            <optgroup label="Initial"></optgroup>
                            <option>B1</option>
                            <option>B2</option>
                            <option>B3</option>
                            <option>I4</option>
                            <option>I5</option>
                            <optgroup label="Alternant"></optgroup>
                            <option>B3</option>
                            <option>I4</option>
                            <option>I5</option>
                            <!--  <?php
                                      $niveaux = Niveau::getAll();
                                      foreach ($niveaux as $niv){
                                          //$niv = new Niveau();
                                          echo '<option value="'.$niv->getIdNiveau().'">'.$niv->getLibelleNiveau().'</option>';
                              }
                              ?>-->
                        </select>
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Module : </div>
                    <div class="col-md-9 justify">
                        <select id="selectMatiere">
                            <option value=""></option>
                        </select>
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <input type="button" class="btn btn-success" id="btAdd" name="ajouter" value="Ajouter">&nbsp;&nbsp;
                    <input type="button" class="btn btn-danger" id="btDel" name="retirer" value="Retirer">
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>

    <div class="titre_corps">
        <h3 class="centrer">Modules de l'étudiant</h3>
    </div>
    <md-card>
        <md-card-content>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20"></div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>