<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Bulletin</h3>
    </div>
    <form method="POST" action="">
        <fieldset>
            <legend>Choix du niveau, du module et de l'&eacute;tudiant</legend>
            <table width="100%">
                <tr>
                    <td width="20%"><label for="selectTrimestre"> Semestre : </label></td>
                    <td>
                      <!--  <?php
								$trimestres = Trimestre::getAll();
								?>-->
                        <select id="selectTrimestre" name="selectTrimestre">
                            <option value=""></option>
                          <!--  <?php
									foreach ($trimestres as $trimestre) {
										//$trimestre = new Trimestre();
										echo '<option value="' . $trimestre->getIdTrimestre() . '">' . $trimestre->getLibelleTrimestre() . '</option>';
                            }
                            ?>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="20%"><label for="selectNiveau"> Niveau : </label></td>
                    <td>
                        <select id="selectNiveau" name="selectNiveau">
                            <option value=''></option>
                            <optgroup label="Initial"></optgroup>-->
                            <option>B1</option>
                            <option>B2</option>
                            <option>B3</option>
                            <option>I4</option>
                            <option>I5</option>
                            <optgroup label="Alternant"></optgroup>-->
                            <option>B3</option>
                            <option>I4</option>
                            <option>I5</option>
                        </select>
                      <!--  <?php
								$niveaux = Niveau::getAll();
								?>
                        <select id="selectNiveau" name="selectNiveau">
                            <option value=""></option>
                            <?php
									foreach ($niveaux as $niveau) {
										echo '<option value="' . $niveau->getIdNiveau() . '">' . $niveau->getLibelleNiveau() . '</option>';
                            }
                            ?>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="20%"><label for="selectMatiere"> Module : </label></td>
                    <td>
                        <select id="selectMatiere" name="selectMatiere">
                            <option value="Module"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="selectEleve">&Eacute;tudiant : </label></td>
                    <td>
                        <select id="selectEleve" name="selectEleve">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>Commentaire sur le bulletin</legend>
            <textarea id="txtCommentaire" cols="80" rows="5"></textarea><br>
            <div id="idBulletin" hidden></div>
            <input type="button" class="submit" id="btComm" name="btComm" value="enregistrer"/>
        </fieldset>
        <fieldset>
            <legend>Comp&eacute;tences pour le semestre</legend>
            <div>
                <table>
                    <tr>
                        <td width="70%">(Domaine) Point de comp&eacute;tence</td>
                        <td>&Eacute;valuation de la comp&eacute;tence</td>
                    </tr>
                    <tr>
                        <td>
                            <select id="idPtCpt">
                                <option value=""></option>
                            </select>
                        </td>
                        <td>
                            <select class="selectNivCpt" id="idNivCpt">
                                <option value=""></option>
                             <!--   <?php
										$niveauCpts = NiveauCpt::getAll();
										foreach ($niveauCpts as $nc){
										//$nc = new NiveauCpt();
											echo '<option value="'.$nc->getIdNiveauCpt().'">'.$nc->getCodeNiveauCpt().'</option>';
                                }
                                ?>-->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="submit" type="button" id="btNivCpt" value="Valider"></td>
                        <td>Remplir &agrave; vide pour supprimer</td>
                    </tr>
                </table>
            </div>
            <fieldset>
                <legend>Liste des comp&eacute;tences &eacute;valu&eacute;es pour l'&eacute;l&egrave;ve pour le semestre</legend>
                <table id="listeCompetence" width="100%">
                </table>
            </fieldset>
         <!--   <fieldset>
                <legend>liste des comp&eacute;tences &eacute;valu&eacute;es pour l'&eacute;l&egrave;ve lors des &eacute;valuations</legend>
                Cette partie rencontre actuellement des lenteurs majeures. Une analyse est en cours. pendant ce temps, cet portion est d&eacute;sactiv&eacute;e.<br>
                merci de votre compr&eacute;hension.
                <!--<table id="listeCompetenceEval" width="100%">
                </table>-->
            </fieldset>
        </fieldset>

    </form>
</div>