<div id="corps">
    <div class="titre_corps">
        <h3 id="pageTitle" class="centrer">Carnet de Liaison</h3>
    </div>

    <md-content>
        <md-list>
            <md-list-item>
                <span id="newMessageClick"><i class="fa fa-plus-square-o" style="font-size: 20px;"></i> Nouveau Message</span>
            </md-list-item>
            <md-list-item>
            </md-list-item>
        </md-list>
    </md-content>

    <md-card>
        <form>
            <table>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20"> Étudiant :</div>
                        <div class="col-md-9 justify">
                            <select id="selectEleve" size="1" style="min-width: 200px" name="idEleve">
                                <option value=""></option>
                            </select>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20"> Message * :</div>
                        <div class="col-md-9 justify">
                            <textarea id="contenu" rows="10" cols="60" name="contenuCarnetLiaison" required></textarea>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">
                            <input type="submit" id="submitButton" class="btn btn-success" id="btSubmit" value="Valider">
                        </div>
                    </md-list-item>
                </md-list>
            </table>
        </form>
    </md-card>

    <md-card>

        <md-card-title>
            Message du :
            Auteur :
            Message : <textarea rows="10" cols="60"  readonly></textarea>
        </md-card-title>
    </md-card>

    <md-card>
        <span id="textReponse" class="reponse" idReponse="">Voir le Message anterieur.</span>
        <div id="" style="display: none">
            <md-card>
                <md-card-title>
                    Message du
                    Auteur :
                    Message <textarea rows="10" cols="60"  readonly></textarea>
                </md-card-title>
            </md-card>
        </div>
        <input type='submit' idcarnetliaison="" name='repondre' class="btn btn-primary" value='Répondre'/>
    </md-card>
</div>