<div id="corps">
    <div class="titre_corps">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
        <div class="container">
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"> L’école EPSI Lyon vous invite à la conférence : Big Data et Open Source</h4>
                        <h5>Jeudi 26 mai à 18h45</h5>
                        <p class="text-right">Auteur: EPSI</p>
                        <p align="justify">- « Big Data »
                            Ces deux mots sont de plus en plus utilisés de nos jours sans forcément en connaître la signification.
                            Pourtant, ils changent et vont changer notre façon d’expliquer des phénomènes, d’anticiper des comportements, de comprendre des concepts nouveaux non abordés jusqu’à présent.
                            Nous allons passer de la phase de constat à celles de l’anticipation et du prévisible.
                            Le sujet est vaste c’est pourquoi nous allons vous présenter les éléments de base qui vous permettront de mieux appréhender ce sujet du Big Data  : le concept, comment sommes-nous arrivés à cette situation , à  quoi va-t-il nous servir, comment approcher et manipuler ce monstre, quels sont les enjeux et les risques, comment contrôler son comportement, présenter des exemples mis en œuvre, le ROI de cet outil.
                        </p>
                        <p align="justify">
                        - « Open Source »
                        Usages métiers et comment le Big Data permet de les adresser.
                        </p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> 12/04/2016</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Forum stage</h4>
                        <p class="text-right">Auteur : EPSI</p>
                        <p align="justify">Bonjour à toutes et à tous,
                            Mardi 9 février de 14h30 à 17h30, les étudiants bac+1 à bac+4 bénéficieront d'un forum stages organisé pour vous permettre de rencontrer les entreprises partenaires en recherche de stagiaires.
                            Ce forum est obligatoire pour tous les étudiants n’ayant pas trouvé leur entreprise d’accueil, une feuille d’émargement devra être signée par chaque étudiant.
                        </p>
                        <p>

                            5 entreprises seront présentes pour vous rencontrer et vous recruter :
                            <ul>
                                <li>- ATTESTATION LEGALE : Dev Symfony / architecte / Data Engineer</li>

                                <li>- ECONOCOM OSIATIS : Java / .Net / PHO/ mobile...</li>

                                <li>- PROJETLYS : Technos Microsoft</li>

                                <li>- SIFOEE : C++ (uniquement bac+3 à bac+4)</li>

                                <li>- WORLDLINE : Architectes Java/JEE / AMOA</li>

                          </ul>
                        </p>
                        <p align="justify">
                            => Prévoyez vos CV et une tenue vestimentaire professionnelle ;-)
                                => Consultez les sites et infos activités/carrières de ces entreprises pour être plus performants lors de vos entretiens
                                => Préparez des questions et prenez des notes lors de vos entretiens
                                => Entretien = coordonnées de votre interlocuteur = demande de mise en contact sur LinkedIn.
                        </p>
                            Nous attendons de votre part un comportement professionnel pour cet événement organisé pour vous.</p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> 04/02/2016 </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
