<div id="corps">
    <div class="titre_corps">
        <h3 id="pageTitle" class="centrer">Rédiger un message</h3>
    </div>

    <md-card>
        <form>
            <table>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20"> Étudiant :</div>
                        <div class="col-md-9 justify">
                            <select id="selectEleve" size="1" style="min-width: 200px" name="idEleve">
                                <option value="">Reynard Jérémy</option>
                                <option value="">Taïsse Sonia</option>
                                <option value="">Sempé Jean-Baptiste</option>
                                <option value="">Roger Jean-Baptiste</option>
                            </select>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20"> Message :</div>
                        <div class="col-md-9 justify">
                            <textarea id="contenu" rows="10" cols="60" name="contenuCarnetLiaison" required></textarea>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">
                            <input type="submit" id="submitButton" class="btn btn-success" id="btSubmit" value="Valider">
                        </div>
                    </md-list-item>
                </md-list>
            </table>
        </form>
    </md-card>
</div>