<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Liste des compétences</h3>
    </div>

    <md-card>
        <md-card-title>
            Bloc 1 : Fonction d’Encadrement
        </md-card-title>

        <md-card-header-text>
            1.1- Management du S.I
        </md-card-header-text>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Gouvernance du S.I
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Alignement stratégique du S.I
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Urbanisation du S.I
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Amélioration des processus
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Gestion de la sécurité des échanges
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Gestion de la sécurité des accès distants
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Gestion de la sécurité de l’information
            </div>
        </div>

    </md-card>

    <md-card>
        <md-card-title>
            Bloc 2 : Méthodes & Projets
        </md-card-title>

        <md-card-header-text>
            2.1- Management de Projet
        </md-card-header-text>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Présentation et Mise en oeuvre d’un cahier des charges
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Planification d’un projet
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Contrôle et suivi d’un projet
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Gestion d’un portefeuille de Projets
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Communication orale professionnelle
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Utilisation des outils de communication
            </div>
        </div>

    </md-card>

</div>