<div id="corps">
    <div class="titre_corps">
        <h3 id="pageTitle" class="centrer">Cr&eacute;ation D'&Eacute;valuation</h3>
    </div>
   <!-- <?php
			if ($utilisateur->estAdministrateur() || $utilisateur->estProfesseur() || $utilisateur->estResponsable()) {
    ?>-->
    <table id="selectAction" style="width: 100%">
        <tr>
            <td>
                <span id="newEvaluationClick"><i class="fa fa-plus-square-o" style="font-size: 20px;"></i> Nouvelle &Eacute;valuation</span>
            </td>
            <td>
                Classe :
                <select id="selectNiveau" size="1" style="min-width: 200px">
                    <option value=''></option>
                    <optgroup label="Initial"></optgroup>-->
                    <option>B1</option>
                    <option>B2</option>
                    <option>B3</option>
                    <option>I4</option>
                    <option>I5</option>
                    <optgroup label="Alternant"></optgroup>-->
                    <option>B3</option>
                    <option>I4</option>
                    <option>I5</option>
                    <!--<?php
								$niveaux = Niveau::getAll();
								foreach ($niveaux as $niveau) {
									echo '<option value="' . $niveau->getIdNiveau() . '">' . $niveau->getLibelleNiveau() . '</option>';
                    }
                    ?>-->
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Mati&egrave;re :
                <select id="selectMatiere" size="1" style="min-width: 200px">
                    <option value=""></option>
                </select>
            </td>
            <td>
                &Eacute;valuation :
                <select id="selectEvaluation" size="1" style="min-width: 200px">
                    <option value=""></option>
                </select>
            </td>
        </tr>
    </table>
    <br>
    <form method="POST" action="">
        <input id="idUtilisateur" type="hidden" value="">
        <fieldset style="width: 90%; margin: auto;" id="newEvaluation">
            <table style="width: 100%;">
                <tr>
                    <td><input id="newInputIdEvaluation" type="hidden" name="idEvaluation"
                               value=""></td>
                </tr>
                <tr>
                    <td>Niveau * :</td>
                    <td>
                        <select id="newSelectNiveau" size="1" style="min-width: 200px" name="idNiveau">
                            <option value=''></option>
                            <optgroup label="Initial"></optgroup>-->
                            <option>B1</option>
                            <option>B2</option>
                            <option>B3</option>
                            <option>I4</option>
                            <option>I5</option>
                            <optgroup label="Alternant"></optgroup>-->
                            <option>B3</option>
                            <option>I4</option>
                            <option>I5</option>
                           <!-- <?php
										$niveaux = Niveau::getAll();
										foreach ($niveaux as $niveau) {
											echo '<option value="' . $niveau->getIdNiveau() . '">' . $niveau->getLibelleNiveau() . '</option>';
                            }
                            ?>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Module * :</td>
                    <td>
                        <select id="newSelectMatiere" size="1" style="min-width: 200px" name="idMatiere">
                            <option value="Liste des modules"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Type d'évaluation * :</td>
                    <td>
                        <select id="newSelectType" size="1" style="min-width: 200px" name="idType">
                            <option value="Type d'évalutation"></option>
                            <!--<?php
										$typeEvals = TypeEvaluation::getAll();
										foreach ($typeEvals as $type) {
											echo '<option value="' . $type->getIdTypeEvaluation() . '">' . $type->getLibelleTypeEvaluation() . '</option>';
                            }
                            ?>-->
                        </select>
                    </td>
                </tr>
                <tr id="autreType" >
                    <td>Autre * :</td>
                    <td>
                        <input id="newInputAutre" type="text" name="autreEvaluation"
                               value="">
                    </td>
                </tr>
                <tr>
                    <td>Titre de l'évaluation:</td>
                    <td>
                        <input id="newInputTitre" type="text" name="titreEvaluation" value=""
                               style="width: 100%;">
                    </td>
                </tr>
                <tr>
                    <td>Date de l'évaluation :</td>
                    <td>
                        <input id="newDateEvaluation" type="text" name="dateEvaluation" value=""
                               style="width: 100%;">
                    </td>
                </tr>
                <tr>
                    <td>Note sur :</td>
                    <td>
                        <input id="newMaxEvaluation" type="text" name="maxEvaluation" value="20"
                               style="width: 100%;">
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" id="submitButton" name="btSubmit" value="Valider"></td>
                </tr>
            </table>
        </fieldset>
        <fieldset style="width: 90%; margin: auto;">
            <legend>Competences :</legend>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;">Domaine de compétence :</td>
                    <td>
                        <input type="hidden" id="idDomaineCpt" name="idDomaineCpt" value="">
                        <input type="text" id="libDomaineCpt" name="libDomaineCpt" value=""></br>
                        <select>
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Compétence :</td>
                    <td>
                        <input type="hidden" id="idPointCpt" name="idPointCpt" value="">
                        <input type="text" id="libPointCpt" name="libPointCpt" value=""></br>
                        <select>
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><span id="ajoutCpt"><i class="fa fa-plus-square-o"
                                                           style="font-size: 20px;"> Ajouter la compétence </span></td>
                </tr>
            </table>
            <br>
            <table style="width: 100%;">
                <thead>
                <td>Domaine</td>
                <td>Competence</td>
                <td><span hidden id="nbCpt">0</span></td>
                </thead>
                <tbody id="listeCpt">
                </tbody>
            </table>
        </fieldset>
        <br>
        <input type="submit" id="submitButtonAll" name="btSubmitAll" value="Valider tous les changements">
    </form>
    <br>
</div>