<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Gestion des Cursus</h3>
    </div>

    <md-card flex="100">
        <md-card-content>
            <md-card-header-text>Consulter les cursus
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Cursus :</div>
                        <div class="col-md-9 justify">
                        <select id="selectModule" size="1" style="min-width: 200px">
                            <option value="">Sélectionner un cursus</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Libell&eacute; * :</div>
                        <div class="col-md-9 justify"><input id="inputLibelle" type="text" required name="libelleModule" value=""></div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20"></div>
                        <div class="col-md-9 justify">
                            <button type="button" class="btn btn-succes">Valider</button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-header-text>
        </md-card-content>
    </md-card>

</div>