<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Lien Tuteur - &Eacute;tudiant</h3>
    </div>

    <md-card flex="100">
            <md-card-content>
                <md-list>
                    <div style="width: 100%"></div>
                    <md-list-item>
                        <div class="col-md-2" flex="20">&Eacute;tudiant :</div>
                        <md-list-item>
                            <div class="col-md-9 justify"><select id="inputEleve" name="inputEleve">
                                <option value=""></option>
                            </select>
                            </div>
                        </md-list-item>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Tuteur :</div>
                        <md-list-item>
                            <div class="col-md-2 justify"><select id="inputResponsable" name="inputResponsable">
                                <option value=""></option>
                            </select>
                            </div>
                        </md-list-item>
                    </md-list-item>
                </md-list>
                <button type="button" class="btn btn-success">Ajouter</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
                </td>
                </md-list>
            </md-card-content>
    </md-card>

    <br/>
</div>