<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Bulletin</h3>
    </div>

    <md-card flex="100">
        <md-card-content>
            <md-card-header-text>
                Sélectionner une classe et un étudiant
                <div id="selectAction" style="width: 100%"></div>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Semestre :</div>
                        <div class="col-md-9 justify">
                            <select id="selectTrimestre" name="idTrimestre">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Niveau :</div>
                        <div class="col-md-9 justify"><select id="selectNiveau" name="idNiveau">
                            <option>I5</option>
                            <optgroup label="Initial"></optgroup>
                            <option>B1</option>
                            <option>B2</option>
                            <option>B3</option>
                            <option>I4</option>
                            <option>I5</option>
                            <optgroup label="Alternant"></optgroup>
                            <option>B3</option>
                            <option>I4</option>
                        </select>
                            </select>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Etudiant :</div>
                        <div class="col-md-9 justify">
                            <select id="selectEleve" name="idEleve">
                                <option value="">Reynard Jérémy</option>
                                <option value="">Taïsse Sonia</option>
                                <option value="">Sempé Jean-Baptiste</option>
                                <option value="">Roger Jean-Baptiste</option>
                            </select>
                        </div>
                    </md-list-item>
                </md-list>
                <input type="submit" class="btn btn-success" name="genBulletin" value="Génération du bulletin">
            </md-card-header-text>
        </md-card-content>
    </md-card>
</div>