<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Bulletin</h3>
    </div>
    <fieldset>
        <legend>Choisir un niveau et un &eacute;tudiant</legend>
        <form method="post" action="">
            <table>
                <tr>
                    <td>Semestre</td>
                    <td>
                        <select id="selectTrimestre" name="idTrimestre">
                            <option value=""></option>
                          <!--  <?php
									$trimestres = Trimestre::getAll();
									foreach ($trimestres as $trimestre){
										echo "<option value='".$trimestre->getIdTrimestre()."'>".$trimestre->getLibelleTrimestre()."</option>";
                            }
                            ?>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Niveau</td>
                    <td>
                        <select id="selectNiveau" name="idNiveau">
                            <option value=""></option>
                                <optgroup label="Initial"></optgroup>-->
                                <option>B1</option>
                                <option>B2</option>
                                <option>B3</option>
                                <option>I4</option>
                                <option>I5</option>
                                <optgroup label="Alternant"></optgroup>-->
                                <option>B3</option>
                                <option>I4</option>
                                <option>I5</option>
                            </select>
                          <!--  <?php
									$niveaux = Niveau::getAll();
									foreach ($niveaux as $niv){
										echo "<option value='".$niv->getIdNiveau()."'>".$niv->getLibelleNiveau()."</option>";
                            }
                            ?>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>&Eacute;tudiant :</td>
                    <td>
                        <select id="selectEleve" name="idEleve">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="submit" id="btRechercher" name="genBulletin" value="G&eacute;n&eacute;ner Bulletin">
            <input type="submit" id="btRechercher" name="genNotes" value="G&eacute;n&eacute;ner Relev&eacute; de Notes">
            <input type="submit" id="btRechercher" name="genCpt" value="G&eacute;n&eacute;ner Livret de Comp&eacute;tences">
        </form>
    </fieldset>
</div>