<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Evaluation</h3>
    </div>
    <a href="../Intranet/addEvaluation.php">Retour au choix d'&eacute;valuation</a>
    <form> <!-- method="POST" action="<?php echo $_SERVER['PHP_SELF']; ?>" enctype="multipart/form-data"> -->
        <fieldset>
            <legend>Modifier &Eacute;valuation</legend>
            <input id="idEval" name="idEval" type="hidden"
                   value="">
            <table width="100%">
                <tr>
                    <td><label for="addDate"> date de l'&eacute;valuation : </label></td>
                    <td colspan="3"><input type="text" id="addDate" name="addDate"
                                           value=""></td>
                </tr>
                <tr>
                    <td><label for="addTitre"> titre de l'&eacute;valuation : </label></td>
                    <td colspan="3"><input type="text" id="addTitre" name="addTitre"
                                           value=""></td>
                </tr>
                <tr>
                    <td width="20%"><label for="addNiveau"> Classe : </label></td>
                    <td width="30%">
                        <?php
								$niveaux = Niveau::getAll();
								?>
                        <select id="addNiveau" name="addNiveau">
                            <option value=""></option>
                            <!--
                            <?php
									foreach ($niveaux as $niveau) {
										echo '<option value="' . $niveau->getIdNiveau() . '"'.($evaluation->getMatiereNiveau()->getNiveau()->getIdNiveau()==$niveau->getIdNiveau()?'selected':'').'>' . $niveau->getLibelleNiveau() . '</option>';
                            }
                            ?> -->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="20%"><label for="addMatiere"> Matiere : </label></td>
                    <td width="30%">
                        <select id="addMatiere" name="addMatiere">
                            <option value=""></option>
                            <!--
                            <?php
									$matieres = Matiere::getByNiveau($evaluation->getMatiereNiveau()->getNiveau()->getIdNiveau());
                            foreach ($matieres as $matiere){
                            echo '<option value="' . $matiere->getIdMatiere() . '"'.($evaluation->getMatiereNiveau()->getMatiere()->getIdMatiere()==$matiere->getIdMatiere()?'selected':'').'>' . $matiere->getLibelleMatiere() . '</option>';
                            }
                            ?> -->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="typeEval">Type d'&eacute;valuation : </label></td>
                    <td><select id="typeEval" name="addType">
                        <option value=""></option>
                        <!--
                        <?php
									$typeEval = TypeEvaluation::getAll();
									foreach ($typeEval as $te) {
										echo '<option value="' . $te->getIdTypeEvaluation() . '" ' . ($evaluation->getIdTypeEvaluation() == $te->getIdTypeEvaluation() ? 'selected' : '') . ' >' . $te->getLibelleTypeEvaluation() . '</option>';
                        }
                        ?> -->
                    </select></td>
                </tr>
                <tr>
                    <td><label for="contenu">D&eacute;tail (type Autre uniquement) : </label></td>
                    <td>
                        <input id="contenu" type="text" name="autreEval" value="">
                    </td>
                </tr>
                <tr>
                    <td><label for="addMax"> Note Max de l'&eacute;valuation : </label></td>
                    <td colspan="3"><input type="text" id="addMax" name="addMax" value="20"></td>
                </tr>
                <!--
                <?php
						if (file_exists('../Evaluation/Sujet' . $evaluation->getIdEvaluation() . '.pdf')) {
                ?> -->
                <tr id="libSujet">
                    <td colspan="2" style="color: green">Il existe un sujet pour cette &eacute;valuation.
                        <span id="delSujet" style="color: orange">supprimer</span>&nbsp;&nbsp;<a href="../Evaluation/Sujet.pdf">Visualiser</a>
                    </td>
                </tr>

                <tr>
                    <td><label for="inputSujet"> Sujet PDF (5Mo Max) * :</label></td>
                    <td><input id="inputSujet" type="file" name="fichierSujet"
                               value="" style="width: 100%;"></td>
                </tr>
                <!--
                <?php
						if (file_exists('../Evaluation/Corrige' . $evaluation->getIdEvaluation() . '.pdf')) {
                ?> -->
                <tr id="libCorrige">
                    <td colspan="2" style="color: green">Il existe un corrig&eacute; pour cette &eacute;valuation.
                        <span id="delCorrige" style="color: orange">supprimer</span>&nbsp;&nbsp;<a href="../Evaluation/Corrige.pdf">Visualiser</a>
                    </td>
                </tr>

                <tr>
                    <td><label for="inputCorrection"> Correction PDF (5Mo Max) * :</label></td>
                    <td><input id="inputCorrection" type="file" name="fichierCorrection"
                               value="" style="width: 100%;"></td>
                </tr>
            </table>
            <br>
            <input type="submit" id="submitButton" name="btModifier" value="Modifier">
        </fieldset>
    </form>
</div>