<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Modification des compétences</h3>
    </div>

    <md-card>
        <md-card-content>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20"> Domaine </div>
                        <div class="col-md-9 justify">
                            <input type="text" id="txtDomaine" >
                            <select id="selectDomaine">
                                <option value=""></option>
                                <!--
                                <?php
                                        $domaines = DomaineCpt::getByMatiere($evaluation->getMatiereNiveau()->getIdMatiere());
                                foreach ($domaines as $domaine){
                                echo "<option value='".$domaine->getIdDomaineCpt()."'>".$domaine->getLibelleDomaineCpt()."</option>";
                                }
                                ?> -->
                            </select>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20"> Compétences </div>
                        <div class="col-md-9 justify">
                            <input type="text" id="txtCpt">
                            <select id="selectCpt" name="selectCpt">
                                <option value=""></option>
                            </select>
                        </div>
                    </md-list-item>
                </md-list>

            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">
                        <input type="button" id="addCpt" class="btn btn-success" value="Ajouter" />
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>


</div>