<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Ajouter un module</h3>
    </div>

    <md-card flex="100">
        <form method="POST" action="">
            <md-card-content>
                <md-list>
                    <md-list-item><input id="inputId" type="hidden" name="idMatiere" value=""></md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Libellé : </div>
                        <div class="col-md-9 justify">
                            <input id="inputLibelle" type="text" required name="libelleMatiere" value="">
                            <input type="submit" class="btn btn-success "id="submitButton" name="btSubmit" value="Valider">
                        </div>
                        <div class="col-md-9 justify">
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </form>
    </md-card>
</div>