<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Affectation d'un module à un enseignant</h3>
    </div>

    <md-card-content>
        <md-list>
            <md-list-item>
                <div class="col-md-2" flex="20">Enseignant : </div>
                <div class="col-md-9 justify">
                    <select id="selectProf" size="1">
                        <option value=""></option>
                        <option>Bahri Emna</option>
                        <option>Caillot Phillippe</option>
                        <option>Reynier Richard</option>
                    </select>
                </div>
            </md-list-item>
            <md-list-item>
                <div class="col-md-2" flex="20">Classe : </div>
                <div class="col-md-9 justify">
                    <select id="selectNiveau" size="1" style="min-width: 200px">
                        <option value=""></option>
                        <optgroup label="Initial"></optgroup>-->
                        <option>B1</option>
                        <option>B2</option>
                        <option>B3</option>
                        <option>I4</option>
                        <option>I5</option>
                        <optgroup label="Alternant"></optgroup>-->
                        <option>B3</option>
                        <option>I4</option>
                        <option>I5</option>
                    </select>
                </div>
            </md-list-item>
            <md-list-item>
                <div class="col-md-2" flex="20">Module : </div>
                <div class="col-md-9 justify">
                    <select id="selectMatiere" size="1">
                        <option value=""></option>
                        <option value="">Qualité des données</option>
                        <option value="">Lean management</option>
                        <option value="">Projet ERP</option>
                    </select>
                </div>
            </md-list-item>
        </md-list>
        <md-list>
            <md-list-item>
                <div class="col-md-2" flex="20">
                    <span id="addCouple"><button type="button" class="btn btn-success">Ajouter</button></span>
                    <span id="delCouple"><button type="button" class="btn btn-danger">Supprimer</button></span>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>

    <div class="titre_corps">
        <h3 class="centrer">Modules de l'enseignant</h3>
    </div>
    <md-card>
        <md-card-content>
            <md-list>
                <md-list-item>Module</md-list-item>
                <md-list-item>Enseignant</md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>