<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Gestion des Niveaux</h3>
    </div>

    <table id="selectAction" style="width: 100%">
        <tr>
            <td>
                <span id="newNiveau"><i class="fa fa-plus-square-o" style="font-size: 20px;"></i> Nouveau Niveau</span>
            </td>
            <td>
                <div>
                    Niveau :
                    <select id="selectNiveau" size="1" style="min-width: 200px">
                        <option value=""></option>
                    <!--    <?php
								$niveaux = Niveau::getAll();
								foreach ($niveaux as $niveau) {
									echo '<option value="' . $niveau->getIdNiveau() . '">' . $niveau->getLibelleNiveau() . '</option>';
                        }
                        ?>-->
                    </select>
                </div>
            </td>
        </tr>

    </table>
    </br>
    <fieldset style="width: 70%; margin: auto;">
        <form method="POST" action="">
            <table>
                <tr>
                    <td><input id="inputId" type="hidden" name="idNiveau"
                               value=""></td>
                </tr>
                <tr>
                    <td>Libell&eacute; * :</td>
                    <td><input id="inputLibelle" type="text" required name="libelleNiveau"
                               value=""></td>
                </tr>
                <tr>
                    <td>
                        Module de rattachement :
                    </td>
                    <td>
                        <select id="inputModule" name="module" size="1">
                            <option value=""></option>
                          <!--  <?php
									$modules = Module::getAll();
									foreach ($modules as $module) {
										echo "<option value='" . $module->getIdModule() . "'>" . $module->getLibelleModule() . "</option>";
                            }
                            ?>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" id="submitButton" name="btSubmit" value="Valider"></td>
                </tr>
            </table>
        </form>
    </fieldset>
    <br/>
</div>