<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Ajouter un niveau de compétence</h3>
    </div>

    <md-card>
        <md-card-content>
            <md-card-header-text>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Niveau : </div>
                        <div class="col-md-9 justify">
                            <select id="selectNiveauCpt" size="1" style="min-width: 200px">
                                <option value=''>Sélectionner une classe</option>
                                <optgroup label="Initial"></optgroup>-->
                                <option>B1</option>
                                <option>B2</option>
                                <option>B3</option>
                                <option>I4</option>
                                <option>I5</option>
                                <optgroup label="Alternant"></optgroup>-->
                                <option>B3</option>
                                <option>I4</option>
                                <option>I5</option>
                            </select>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Code * : </div>
                        <div class="col-md-9 justify">
                            <input id="inputCode" type="text" required name="codeNiveauCpt" value="">&nbsp;&nbsp;(1 seul caract&egrave;re)
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Libellé * : </div>
                        <div class="col-md-9 justify">
                            <input id="inputLibelle" type="text" required name="libelleNiveauCpt" value="">
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">
                            <input type="submit" id="submitButton" class="btn btn-success" name="btSubmit" value="Valider" >
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-header-text>
        </md-card-content>
    </md-card>

</div>