<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Ajouter une classe</h3>
    </div>

    <md-card flex="100">
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Classe :</div>
                        <div class="col-md-9 justify"><select id="selectNiveau" size="1" style="min-width: 200px">
                            <option value=''>Sélectionner une classe</option>
                            <optgroup label="Initial"></optgroup>-->
                            <option>B1</option>
                            <option>B2</option>
                            <option>B3</option>
                            <option>I4</option>
                            <option>I5</option>
                            <optgroup label="Alternant"></optgroup>-->
                            <option>B3</option>
                            <option>I4</option>
                            <option>I5</option>
                        </select>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Libell&eacute; * :</div>
                        <div class="col-md-9 justify"><input id="inputLibelle" type="text" required name="libelleNiveau"
                                                             value=""></div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div class="col-md-2" flex="20">Module de rattachement :</div>
                        <div class="col-md-9 justify">
                            <select id="inputModule" name="module" size="1">
                                <option value="">Sélectionner un module</option>
                                <option value="">Gouvernance du S.I</option>
                                <option value="">Gestion de projet agile</option>
                                <option value="">Gestion des Risques</option>
                            </select>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <div class="col-md-2" flex="20"></div>
                    <div class="col-md-9 justify">
                        <button type="button" class="btn btn-success">Valider</button>
                    </div>
                </md-list>
            </md-card-content>
    </md-card>
</div>