<div ng-controller="ProfilController">
    <md-card flex="100">
        <md-subheader class="md-no-sticky justify">Informations générales</md-subheader>
        <md-card-content>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Nom&nbsp;:</div>
                    <div class="col-md-9 justify">REYNARD{{sharedData.utilisateur.nom}}</div>
                </md-list-item>
                <md-list-item>
                    <div class="col-md-2" flex="20">Prénom&nbsp;:</div>
                    <div class="col-md-9 justify">Jérémy{{sharedData.utilisateur.prenom}}</div>
                </md-list-item>
                <md-list-item>
                    <div class="col-md-2" flex="20">Adresse&nbsp;:</div>
                    <div class="col-md-9 justify">225 chemin de bellevue{{sharedData.utilisateur.adr1}}</div>
                </md-list-item>
                <md-list-item>
                    <div class="col-md-2" flex="20">Code Postal&nbsp;:</div>
                    <div class="col-md-9 justify">69270{{sharedData.utilisateur.cp}}</div>
                </md-list-item>
                <md-list-item>
                    <div class="col-md-2" flex="20">Ville&nbsp;:</div>
                    <div class="col-md-9 justify">Cailloux sur Fontaines{{sharedData.utilisateur.ville}}</div>
                </md-list-item>
                <md-list-item>
                    <div class="col-md-2" flex="20">Mail&nbsp;:</div>
                    <div class="col-md-9 justify">jeremy.reynard@gmail.com{{sharedData.utilisateur.mail}}</div>
                </md-list-item>
                <md-list-item ng-if="sharedData.utilisateur.eleve != null">
                    <div class="col-md-2" flex="20">Date de naissance&nbsp;:</div>
                    <div class="col-md-9 justify">01/04/1993{{sharedData.utilisateur.dateNaissance | date : 'dd/MM/yyyy'}}</div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>