<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Gestion des semestres</h3>
    </div>
    <md-card flex="100">
        <md-card-content>
            <div id="selectAction" style="width: 100%"></div>
            <md-list>
                <md-list-item>
                    <div class="col-md-2 justify"></div>
                    <div class="col-md-9 justify">
                        <span id="newsemestre"><button type="button" class="btn btn-primary">Nouveau semestre</button></span>
                    </div>
                </md-list-item>
                <md-list-item>
                    <div class="col-md-2" flex="20">Semestre :</div>
                    <div class="col-md-9 justify"><select id="selectsemestre" size="1" style="min-width: 200px">
                        <option value=""></option>
                        <!--
                        <?php
								$semestres = semestre::getAll();
								foreach ($semestres as $semestre) {
									echo '<option value="' . $semestre->getIdsemestre() . '">' . $semestre->getLibellesemestre() . '</option>';
                        }
                        ?> -->
                    </select>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>

    <md-card flex="100">
        <md-card-content>
            <md-list>
                <md-list-item>
                <div class="col-md-9 justify"><input id="inputId" type="hidden" name="idsemestre"
                           value=""></div>
                </md-list-item>
            </md-list>

            <md-list>
                <md-list-item>
                <div class="col-md-2" flex="20">Libell&eacute; * :</div>
                <div class="col-md-9 justify"><input id="inputLibelle" type="text" required name="libellesemestre"
                           value=""></div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                <div class="col-md-2" flex="20">Date d&eacute;but * :</div>
                <div class="col-md-9 justify"><input id="inputDateDebut" type="text" required name="dateDebutsemestre"
                           value=""></div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                <div class="col-md-2" flex="20">Date Fin * :</div>
                <div class="col-md-9 justify"><input id="inputDateFin" type="text" required name="dateFinsemestre"
                           value=""></div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                <div class="col-md-2" flex="20">Date limite de commentaire * :</div>
                <div class="col-md-9 justify"><input id="inputDateFinComm" type="text" required name="dateFinCommentaire"
                           value=""></div>
                </md-list-item>
            </md-list>
            <md-list>
                <div class="col-md-2" flex="20"></div>
                <div class="col-md-9 justify"><button type="button" class="btn btn-succes">Valider</button></div>
            </md-list>
        </md-card-content>
    </md-card>
</div>