<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Ajouter un utilisateur</h3>
    </div>

    <md-card flex="100">
        <form>
            <md-card-content>
                <md-list>
                    <md-list-item>
                            <div class="col-md-2" flex="20"> Nom :</div>
                            <div class="col-md-9 justify"><input id="inputNom" type="text" required name="nomUtilisateur"
                                                                 value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Prénom :</div>
                            <div class="col-md-9 justify"><input id="inputPrenom" type="text" required name="prenomUtilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Adresse :</div>
                            <div class="col-md-9 justify"><input id="inputAdr1" type="text" name="adr1Utilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Code postal :</div>
                            <div class="col-md-9 justify"><input id="inputCp" type="text" name="cpUtilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Ville :</div>
                            <div class="col-md-9 justify"><input id="inputVille" type="text" name="villeUtilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Mail :</div>
                            <div class="col-md-9 justify"><input id="inputMail" type="email" name="mailUtilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2">Fonction :</div>
                            <div class="col-md-9 justify">
                                <div class="checkbox col-md-9 justify">
                                    <label><input id="inputFonctionAdministrateur" type="checkbox" multiple name="fonction[]"
                                                  value="Administrateur"/> Administration</label></div>
                                <div class="checkbox col-md-9 justify">
                                    <label><input id="inputFonctionProfesseur" type="checkbox" multiple name="fonction[]"
                                                  value="Administrateur"/> Enseignant</label></div>
                                <div class="checkbox col-md-9 justify">
                                    <label><input id="inputFonctionResponsable" type="checkbox" multiple name="fonction[]"
                                                  value="Administrateur"/> Tuteur</label></div>
                                <div class="checkbox col-md-9 justify">
                                    <label><input id="inputFonctionEleve" type="checkbox" multiple name="fonction[]"
                                                  value="Administrateur"/> &Eacute;tudiant</label>
                                    => Classe :
                                    <select id="inputNiveau" name="niveauEleve" size="1">
                                        <option value=''></option>
                                        <optgroup label="Initial"></optgroup>-->
                                        <option>B1</option>
                                        <option>B2</option>
                                        <option>B3</option>
                                        <option>I4</option>
                                        <option>I5</option>
                                        <optgroup label="Alternant"></optgroup>-->
                                        <option>B3</option>
                                        <option>I4</option>
                                        <option>I5</option>
                                    </select>
                                </div>
                            </div>
                        </md-list-item>
                        <md-list>
                            <md-list-item>
                                <div class="col-md-2">Date de naissance :</div>
                                <div class="col-md-9 justify"><input type="date" id="dateNaissanceUtilisateur" name="dateNaissanceUtilisateur"></div>
                            </md-list-item>

                            <md-list-item>
                                <div class="col-md-2">Date d'inscription :</div>
                                <div class="col-md-9 justify"><input type="date" id="dateInscriptionUtilisateur" name="dateInscriptionUtilisateur">
                                </div>
                            </md-list-item>
                        </md-list>
                        <md-list-item>
                            <div class="col-md-9 justify"><input type="submit" class="btn btn-success" id="submitButton" name="btSubmit" value="Valider"></div>
                            <div class="col-md-9 justify">
                                <input type="reset" class="btn btn-danger" value="Effacer">
                            </div>
                        </md-list-item>
                    </md-list>
            </md-card-content>
        </md-card-header-text>
            </form>
    </md-card>

</div>