<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Gestion des utilisateurs</h3>
    </div>

    <md-card flex="100">
        <form>
            <md-card-content> Ajouter un utilisateur
                <md-list>
                    <md-list-item>
                            <div class="col-md-2" flex="20"> Nom :</div>
                            <div class="col-md-9 justify"><input id="inputNom" type="text" required name="nomUtilisateur"
                                                                 value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Prénom :</div>
                            <div class="col-md-9 justify"><input id="inputPrenom" type="text" required name="prenomUtilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Adresse :</div>
                            <div class="col-md-9 justify"><input id="inputAdr1" type="text" name="adr1Utilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Code postal :</div>
                            <div class="col-md-9 justify"><input id="inputCp" type="text" name="cpUtilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Ville :</div>
                            <div class="col-md-9 justify"><input id="inputVille" type="text" name="villeUtilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2" flex="20">Mail :</div>
                            <div class="col-md-9 justify"><input id="inputMail" type="email" name="mailUtilisateur" value=""/></div>
                        </md-list-item>
                        <md-list-item>
                            <div class="col-md-2">Fonction :</div>
                            <div class="col-md-9 justify">
                                <div class="checkbox col-md-9 justify">
                                    <label><input id="inputFonctionAdministrateur" type="checkbox" multiple name="fonction[]"
                                                  value="Administrateur"/> Administration</label></div>
                                <div class="checkbox col-md-9 justify">
                                    <label><input id="inputFonctionProfesseur" type="checkbox" multiple name="fonction[]"
                                                  value="Administrateur"/> Enseignant</label></div>
                                <div class="checkbox col-md-9 justify">
                                    <label><input id="inputFonctionResponsable" type="checkbox" multiple name="fonction[]"
                                                  value="Administrateur"/> Tuteur</label>
                                    &nbsp;&nbsp;&nbsp;Nom : <input  type="text" name=""  value=""/>
                                    &nbsp;&nbsp;&nbsp;Prénom : <input  type="text" name="" value=""/>
                                </div>
                                <div class="checkbox col-md-9 justify">
                                    <label><input id="inputFonctionEleve" type="checkbox" multiple name="fonction[]"
                                                  value="Administrateur"/> &Eacute;tudiant</label>
                                    &nbsp;&nbsp;&nbsp;Classe :
                                    <select id="inputNiveau" name="niveauEleve" size="1">
                                        <option value=''></option>
                                        <optgroup label="Initial"></optgroup>-->
                                        <option>B1</option>
                                        <option>B2</option>
                                        <option>B3</option>
                                        <option>I4</option>
                                        <option>I5</option>
                                        <optgroup label="Alternant"></optgroup>-->
                                        <option>B3</option>
                                        <option>I4</option>
                                        <option>I5</option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;Entreprise : <input id="" type="text" name="" value=""/>
                                    &nbsp;&nbsp;&nbsp;Tuteur : <input  type="text" name="" placeholder="Nom.Prénom" value=""/>
                                </div>
                            </div>
                        </md-list-item>
                        <md-list>
                            <md-list-item>
                                <div class="col-md-2">Date d'inscription :</div>
                                <div class="col-md-9 justify">
                                    <input type="date" id="dateInscriptionUtilisateur" name="dateInscriptionUtilisateur" >
                                </div>
                            </md-list-item>
                        </md-list>
                        <md-list-item>
                            <div class="col-md-2" flex="20"></div>
                            <div class="col-md-9 justify"><input type="submit" class="btn btn-success" value="Valider"></div>
                        </md-list-item>
                    </md-list>
            </md-card-content>
        </md-card-header-text>
            </form>
    </md-card>

    <md-card flex="100">
        <md-card-content> Liste des utilisateurs
            <table id="mytable" class="table table-bordred table-striped">
                <tr>
                    <thead align="center">
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Mail</th>
                    <th>Fonction</th>
                    <th>Date d'inscription</th>
                    <th></th>
                    </thead>
                </tr>
                <tbody>
                <tr align="left">
                    <td>Taïsse</td>
                    <td>Sonia</td>
                    <td>Lyon 09</td>
                    <td>69009</td>
                    <td>Lyon</td>
                    <td>sonia-taisse@gmail.com</td>
                    <td>Étudiant</td>
                    <td>18/11/2016</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>

                <tr align="left">
                    <td>Sempé</td>
                    <td>Jean-Baptiste</td>
                    <td>Lyon 06</td>
                    <td>69006</td>
                    <td>Lyon</td>
                    <td>jb-sempe@gmail.com</td>
                    <td>Étudiant</td>
                    <td>18/11/2016</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>

                <tr align="left">
                    <td>Reynard</td>
                    <td>Jérémy</td>
                    <td>rue Victor Hugo</td>
                    <td>69270</td>
                    <td>Fontaines</td>
                    <td>jr-reynard@gmail.com</td>
                    <td>Étudiant</td>
                    <td>18/11/2016</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>
                </tbody>
            </table>
        </md-card-content>
    </md-card>
</div>
