<div id="corps">
    <div class="titre_corps">
        <h3 class="centrer">Evaluation</h3>
    </div>
    <div>
        <a href="../Intranet/addEvaluation.php">Retour au choix d'&eacute;valuation</a>
    </div>
    <input type="button" class="submit" id="libRappelEval" value="Rappel des Informations sur l'évaluation">
    <input type="button" class="submit" id="libRappelCpt" value="Rappel des compétences" />
    
    <md-card>
        
        <md-card-title>
            Rappel Information sur l'&eacute;valuation
        </md-card-title>
        
        <input id="idEval" type="hidden" value="">
    
        <md-card-content>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Date de l'évaluation :</div>
                    <div class="col-md-9 justify">
                        <input type="text" id="addDate" name="addDate" readonly value="">
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Titre de l'évaluation : </div>
                    <div class="col-md-9 justify">
                        <input type="text" id="addTitre" name="addTitre" readonly value="">
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Classe :  </div>
                    <div class="col-md-9 justify">
                        <input type="text" readonly value="">
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Module :  </div>
                    <div class="col-md-9 justify">
                        <input type="text" readonly value="">
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Type de l'évaluation :  </div>
                    <div class="col-md-9 justify">
                        <input type="text" readonly value="">
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20">Détail (Autre) :  </div>
                    <div class="col-md-9 justify">
                        <input id="contenu" type="text" name="autreEval" readonly value="">
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20"> Note Max de l'évaluation : </div>
                    <div class="col-md-9 justify">
                        <input type="text" id="addMax" name="addMax" readonly value="">
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20"> Sujet PDF : </div>
                    <div class="col-md-9 justify">
                        <!--
                    <?php
							if (file_exists('../Evaluation/Sujet' . $evaluation->getIdEvaluation() . '.pdf')) {
                    ?>
                    -->
                        <a href="../Evaluation/Sujet<?php echo $evaluation->getIdEvaluation() ?>.pdf">Visualiser</a>
                        <!--
                        <?php
                                } else {
                                    ?> -->
                        Il n'y a pas de Sujet pour cette &eacute;valuation.
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20"> Correction PDF : </div>
                    <div class="col-md-9 justify">
                        <!--
                    <?php
							if (file_exists('../Evaluation/Corrige' . $evaluation->getIdEvaluation() . '.pdf')) {
                    ?> -->
                        <a href="../Evaluation/Corrige<?php echo $evaluation->getIdEvaluation() ?>.pdf">Visualiser</a>
                        <!-- <?php
                                } else {
                                    ?> -->
                        Il n'y a pas de Corrig&eacute; pour cette &eacute;valuation.
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>


    <md-card>

        <md-card-title>
            Rappel des compétences
        </md-card-title>

        <md-card-content>
            <thead>
                <md-list-item>Racourci : </md-list-item>
                <md-list-item>Domaine : </md-list-item>
                <md-list-item>Libellé :</md-list-item>
            </thead>
            <!--
            <?php
					$evalCpt = EvaluationPointCpt::getByEvaluation($evaluation->getIdEvaluation());
            $nbCpt = 1;
            //$pointsCpts = PointCpt::getByEvaluation($evaluation->getIdEvaluation());
            foreach ($evalCpt as $pCpt) {
            //$pCpt = new EvaluationPointCpt();
            //$tutu = $pCpt->getPointCpt()->getIdPointCpt();
            //$toto = $pCpt->getPointCpt()->getLibellePointCpt();
            echo '<md-list><md-list-item>Cpt' . $nbCpt . '</md-list-item><md-list-item><input type="hidden" value="' . $pCpt->getPointCpt()->getIdPointCpt() . '" id="idCpt' . $nbCpt . '" /></span>' . $pCpt->getPointCpt()->getLibellePointCpt() . '</md-list-item><md-list-item>' . $pCpt->getPointCpt()->getDomaineCpt()
            ->getLibelleDomaineCpt() . '</md-list-item></md-list>';
            $nbCpt++;
            }
            $nbCpt--;
            ?> -->
        </md-card-content>
    </md-card>

    <md-card>

        <md-card-title>
            Enregistrer / Modifier note d'un étudiant
        </md-card-title>

        <md-card-content>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20"> Étudiant :</div>
                    <div class="col-md-9 justify">
                        <select id="idEleveNote">
                            <option></option>
                            <!--
                            <?php
                                    $allEleves = $evaluation->getEleves();
                            foreach ($allEleves as $allE) {
                            echo '<option value="'">' . $allE->getLibelleUtilisatur() . '</option>';
                            }
                            ?> -->
                        </select>
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <div class="col-md-2" flex="20"> Note :</div>
                    <div class="col-md-2">
                        <input type="number" id="noteEleve" idEleve="idEleve" value="" min="0" max="">
                    </div>
                    <div class="col-md-9 justify">
                        <input type='button' class='submit' id='modifNote' value='Entrer / Modifier'/>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>


    <md-card>

        <md-card-title>
            Notation des compétences :
        </md-card-title>

        <md-card-content>
            <md-list>
                <!--
                <?php
						$noteCpt = 0;
						while ($noteCpt < $nbCpt) {
							$toto = new EvaluationPointCpt();
							echo '<md-list>';
                echo '<md-list-item>'.$evalCpt[$noteCpt]->getPointCpt()->getLibellePointCpt() . '</md-list-item>';
                echo "<md-list-item><div id='evalEleveCpt" . ($noteCpt + 1) . "'></div></md-list-item>";
                echo "<md-list-item><select class='lesEvalCpt' id='evalCpt" . ($noteCpt + 1) . "'>" . $selectNiveauCpt . "</select></md-list-item>";
                echo "<md-list-item><input type='button' class='submit evalCpt' id='idEvalCpt" . ($noteCpt + 1) . "' value='entrer / modifier'/></md-list-item>";
                echo '</md-list>';
            $noteCpt++;
            }
            ?> -->
            </md-list>
        </md-card-content>

    </md-card>


    <form> <!-- method="post" action="verifNote.php?idEval=<?php echo $_GET['idEval']; ?>"> -->
        <input type="submit" id="reload" value="Actualiser la liste des &eacute;l&egrave;ves not&eacute;s"/>
    </form>

    <md-card>
        <md-card-content>
            Liste des étudiants ayant des notes
        </md-card-content>

        <md-card-content>
            <md-list>
                <md-list-item>&Eacute;l&egrave;ve</md-list-item>
                <md-list-item>Note</md-list-item>
                <!-- <?php
						$noteCpt = 0;
						while ($noteCpt < $nbCpt) {
							echo '<md-list-item>cpt' . ($noteCpt + 1) . '</md-list-item>';
                $noteCpt++;
                }
                ?> -->
            </md-list>
        </md-card-content>
    </md-card>

</div>
<div style="clear: both"></div>
</div>

<!-- <?php
	include '../Include/include_footer.php';
	db_connect::close();
	?> -->
</div>