/*body {*/
  /*padding: 20px;*/
/*}*/

/*h1 {*/
  /*border-bottom: 1px solid gray;*/
  /*margin-top: 0;*/
/*}*/

.justify {
  text-align: justify;
}

#submenu {
  list-style-type: none;
  text-align:right;
}

#submenu li {
  float: right;
  padding-left: 10px;
}

.connexion md-tabs-wrapper {
  display: none;
}

.administration md-tabs-wrapper {
  display: none;
}

.cursus md-tabs-wrapper {
  display: none;
}

.carnetLiaison md-tabs-wrapper {
  display: none;
}

.profil md-tabs-wrapper {
  display: none;
}